body { margin: 0; background-color: #f7f7f7; }
h1 {
	font-family: 'Ubuntu';
	color: black;
    text-align: top;
    font-style: italic;   
}
.logo {
	text-align: left;
    padding-left: 20px;
    padding-bottom: 0px;
	line-height: 50px;
    font-size: 15px;
    position: absolute;
    top: 0px;
}

.button {
  background-color: #ffe0f7; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Ubuntu';
  font-weight: 15px;
  
}

table {
            width: 100%;
            box-sizing: border-box;
            box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.11);
            font-family: 'Ubuntu';
            border-collapse: collapse;
            border-spacing: 0;
            background-color: #f7f7f7;
            overflow: hidden;
        }


}

        th,
        td {
            border: 1px solid rgba(240, 84, 12, 0.836);
            box-sizing: border-box;
            
           
        }


        th {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 500;
            padding: 10px 0;
            color: black;
            background-color: #ffe0f7;
            letter-spacing: 1px;
        }

        td {
            width: 14.285%;
            transition: all 0.3s;
            font-size: 14px;
            color: black;
            font-weight: 400;
            font-size: 14px;
            padding: 50% 1.5% 5%;
            vertical-align: initial;
            padding: 1.5% 0;
            height: 100px;
            
        }

        .day:hover {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .today {
            color: #FFF;
            background-color: rgba(0, 0, 0, .25) !important;
            
        }

        span.number {
            margin-left: 10%
        }

        span.event {
            height: 15px;
            background-color: rgba(0, 0, 0, .3);
            display: block;
            margin: 5px 10%;
            border-radius: 2px;
            background-color: #91c33b;
        }

* {
	margin-top: 0px;
	padding: 0px;
}
